.sprite {
    /* Размер одного кадра */
    width: 32px;
    height: 32px;
    transform: scale(3);
    /* Подключаем спрайт полоской */
    background-image: url('./assets/Soldier_Idle.png');
    background-repeat: no-repeat;
    background-position: 0 0;

    /* Важно для пиксель-арта: отключает размытие при масштабировании */
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    /* 6 кадров за 0.8 секунды, бесконечный цикл */
    animation: idleAnimation 0.8s steps(6) infinite;
}

@keyframes idleAnimation {
    from {
        background-position-x: -34px;
        background-position-y: -34px;

    }
    to {
        /* Сдвигаем влево на ширину 6 кадров (6 * 100px) */
        background-position-x: -634px;
        background-position-y: -34px;
    }
}

/* Опционально: отражение персонажа для второго игрока (Player 2) */
.flipped {
    transform: scaleX(-1);
}