* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

:root {
    --text-color-white: #e2e8f0;
    --base-color-darck: #121721;
    --base-color: rgb(30 34 45);
    --primery-base-color: rgba(40, 46, 60, 0.85);
    --border-color: rgba(255, 255, 255, 0.08);
    --primery-border-color: rgba(255, 255, 255, 0.2);
    --primery-color: #c18007;
    --text-color-muted: #94a3b8;
}